
VITE_SUPABASE_URL=https://bqslcckluijswoqnrnhh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxc2xjY2tsdWlqc3dvcW5ybmhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2OTk2MzYsImV4cCI6MjA3NTI3NTYzNn0.-PNuzSUwDrobn1CDG8h4HYPzm7bNAUNOCutsCk23Qbo